<section>
    <div class="row atolltablerow">
        <div class="col-md-2">
                {{candElement.name}}
        </div>
        <div class="col-md-2">
            {{candElement.college}}
        </div>
        <div class="col-md-1">
            {{candElement.yop}}
        </div>
        <div class="col-md-1">
            {{candElement.degreePercentage}}
        </div>
        <div class="col-md-1">
            {{candElement.plusTwoPercentage}}
        </div>
        <div class="col-md-1">
                {{candElement.sslcPercentage}}
        </div>
        <div class="col-md-1">
                {{candElement.mobile}}
        </div>
        <div class="col-md-2">
            {{candElement.email}}
        </div>
        <div class="col-md-1">
                Batch1
        </div>
    </div>
</section>