<section data-toggle="modal" [attr.data-target]="'#'+candElement._id">
    <div class="row atolltablerow">
        <div class="col-md-1">
            {{slno+1}}
        </div>
        <div class="col-md-2">
            {{candElement.name}}
        </div>
        <div class="col-md-2">
            {{candElement.college}}
        </div>
        <div class="col-md-1">
            {{candElement.yop}}
        </div>
        
        <div class="col-md-1">
            {{candElement.mobile}}
        </div>
        <div class="col-md-3">
            {{candElement.email}}
        </div>
        <div class="col-md-1">
            {{candElement.batch}}
        </div>
    </div>
</section>

<!-- Modal -->
<div [attr.id]="candElement._id" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="card">
            <div class="card-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="card-title">Update Status - {{candElement.name}}</h5>
            </div>
            <br>
            <div class="container">
                    <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    Written Test
                                </div>
                                <div class="col-md-6">
                                    <select name="" id="" [(ngModel)]="writingTestResult">
                                            <option>Fail</option>
                                            <option>Pass</option>
                                            <option>Pending</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    Tehnical Round1
                                </div>
                                <div class="col-md-6">
                                    <select name="" id=""[(ngModel)]="technicalRound1Result">
                                            <option>Fail</option>
                                            <option>Pass</option>
                                            <option>Pending</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    Tehnical Round2
                                </div>
                                <div class="col-md-6">
                                    <select name="" id=""[(ngModel)]="technicalRound2Result">
                                            <option>Fail</option>
                                            <option>Pass</option>
                                            <option>Pending</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    HR Round
                                </div>
                                <div class="col-md-6">
                                    <select name="" id=""[(ngModel)]="hrRound2Result">
                                            <option>Fail</option>
                                            <option>Pass</option>
                                            <option>Pending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-sm atollbutton" (click)="updateStatus()">Update Status</button>
                            </div>
                        </div>
            </div>
        </div>

    </div>
</div>