<section>
    <div class="row atolltablerow">
        <div class="col-xs-2">
            Priyesh
        </div>
        <div class="col-xs-2">
            College
        </div>
        <div class="col-xs-1">
            YOP
        </div>
        <div class="col-xs-1">
            80%
        </div>
        <div class="col-xs-1">
            80%
        </div>
        <div class="col-xs-1">
            80%
        </div>
        <div class="col-xs-2">
            73568999999
        </div>
        <div class="col-xs-2">
            pk@gmail.com
        </div>
    </div>
</section>