<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" style="color:white">Register Candidate</h4>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="section">
                                <form *ngIf="!isRegSuccess">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email">Email address:</label>
                                                <input type="email" class="form-control" id="email" [(ngModel)]="model.email"
                                                    name="email1" [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="pwd">Password:</label>
                                                <input type="password" class="form-control" id="password" [(ngModel)]="model.password"
                                                    name="password">
                                                <div *ngIf="!this.validate()" class="help-block" style="color:red">password should have minimum length of 8</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="name">Name of the Candidate:</label>
                                                <input type="text" class="form-control" id="name" [(ngModel)]="model.name"
                                                    name="name">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="name">Name of the College</label>
                                                <input type="text" class="form-control" id="college" [(ngModel)]="model.college"
                                                    name="college">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="name">Year of Passing</label>
                                                <input type="text" class="form-control" id="yop" [(ngModel)]="model.yop"
                                                    name="yop">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="name">B-Tech Marks (%)</label>
                                                <input type="text" class="form-control" id="degreePercentage"
                                                    [(ngModel)]="model.degreePercentage" name="degreePercentage">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="name">Plus Two Marks(%)</label>
                                                <input type="text" class="form-control" id="plusTwoPercentage"
                                                    [(ngModel)]="model.plusTwoPercentage" name="plusTwoPercentage">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="name">SSLC Marks(%)</label>
                                                <input type="text" class="form-control" id="sslcPercentage" [(ngModel)]="model.sslcPercentage"
                                                    name="sslcPercentage">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="name">Mobile Number</label>
                                                <input type="tel" class="form-control" id="mobile" [(ngModel)]="model.mobile"
                                                    name="mobile">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="sel1">Select Batch</label>
                                                <select class="form-control" id="batch" [(ngModel)]="model.batch"
                                                name="batch">
                                                  <option>Oct 13 Morning</option>
                                                  <option>Oct 13 Afternoon</option>
                                                </select>
                                              </div>
                                            </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <label style="color: green;font-weight: 500">{{message}}</label>
                                </div>
                                <div class="col-md-2">
                                        <button type="submit" class="btn btn-danger" (click)="Register()"*ngIf="!isRegSuccess">Register</button>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-danger" (click)="Login()" *ngIf="isRegSuccess">Login</button>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>