<div class="main-panel">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div *ngIf="IsadminLogin;else candidate">
        <div class="main-content gadgeon-content">
            <div class="row">
                <div class="col-md-9">
                    <h5>Candidate List (Gadgeon Recruitment 2018)</h5>
                </div>
            </div>
            <div class="row atollsearchrow">
                <button type="button" class="btn btn-sm atollbutton" data-toggle="collapse" data-target="#searchprod">Search
                    Candidate</button>
            </div>
            <br>
            <div class="section table-section">
                <div class="row">
                    <div id="searchprod" class="collapse searchbar2">
                        <div class="row">
                            <div class="col-md-2">
                                <input class="col-md-12" type="search" id="email_s" placeholder="Email">
                            </div>
                            <div class="col-md-2">
                                <input class="col-md-12" type="search" id="name_s" placeholder="Name">
                            </div>
                            <div class="col-md-2">
                                <input class="col-md-12" type="search" id="batch_s" placeholder="Batch">
                            </div>
                        </div>
                    </div>
                </div>

                <section>
                    <div class="row atolltablerow gadheader">
                        <div class="col-md-1">
                            <label for="">Sl.No</label>
                        </div>
                        <div class="col-md-2">
                            <label for="">Name</label>
                            
                        </div>
                        <div class="col-md-2">
                            <label for="">College</label>
                        </div>
                        <div class="col-md-1">
                            <label for="">Passout</label>
                        </div>
                        <div class="col-md-1">
                            <label for="">Mobile</label>
                        </div>
                        <div class="col-md-3">
                            <label for="">Email</label>
                        </div>
                        <div class="col-md-1">
                            <label for="">Batch</label>
                        </div>
                    </div>
                </section>
                <app-candidate-element *ngFor="let item of candidateList;let i=index" [candElement]="item" [slno]="i">
                </app-candidate-element>
            </div>

        </div>
    </div>
    <ng-template #candidate>
        <div class="main-content">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title" style="color:white">Gadgeon Recruitment 2018</h4>
                    <label class="card-title" style="color:white; font-size: 120%;color: silver">Candidate Detail</label>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="section">
                            <div class="gadgeon-content">
                                <br>
                                <div class="row">
                                    <div class="col-xs-4">
                                        Name
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="Name">{{candidateDetail.name}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-4">
                                        Email
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="email">{{candidateDetail.email}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-4">
                                        College
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="College">{{candidateDetail.college}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-4">
                                        Batch
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="batch">{{candidateDetail.batch}}</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-4" data-toggle="collapse" href="#collapseExample" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        Status
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="overallstatus">Pending</label>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="collapse" id="collapseExample">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        Written Test
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label for="status" [ngStyle]="{color: getColorW()}">{{candidateDetail.writingTestResult}}</label>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        Tehnical Round1
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label for="status" [ngStyle]="{color: getColorT1()}">{{candidateDetail.technicalRound1Result}}</label>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        Tehnical Round2
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label for="status" [ngStyle]="{color: getColorT2()}">{{candidateDetail.technicalRound2Result}}</label>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        HR Round
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label for="status" [ngStyle]="{color: getColorH()}">{{candidateDetail.hrRound2Result}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-4">
                                        Date
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="batch">{{candidateDetail.registrationDate}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>