<div class="main-panel">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div *ngIf="IsadminLogin;else candidate">
        <div class="main-content gadgeon-content">
            <div class="row">
                <div class="col-md-9">
                    <h5>Candidate List (Gadgeon Recruitment 2018)</h5>
                </div>
            </div>
            <div class="row gadsearchrow">
                <button type="button" class="btn btn-sm gadbutton" data-toggle="collapse" data-target="#searchprod">Search
                    Candidate</button>
            </div>
            <div class="section table-section">
                <div class="row">
                    <div id="searchprod" class="collapse searchbar2">
                        <div class="row">
                            <div class="col-md-2">
                                <input class="col-md-12" type="search" id="email_s" placeholder="Email">
                            </div>
                            <div class="col-md-2">
                                <input class="col-md-12" type="search" id="name_s" placeholder="Name">
                            </div>
                            <div class="col-md-2">
                                <input class="col-md-12" type="search" id="batch_s" placeholder="Batch">
                            </div>
                        </div>
                    </div>
                </div>
                <section class="gad-table">
                    <div class="row gadtablerow gadheader">
                        <div class="col-md-1">
                            <label for="">Sl.No</label>
                        </div>
                        <div class="col-md-2">
                            <label for="">Name</label>

                        </div>
                        <div class="col-md-2">
                            <label for="">College</label>
                        </div>
                        <div class="col-md-1">
                            <label for="">Passout</label>
                        </div>
                        <div class="col-md-1">
                            <label for="">Mobile</label>
                        </div>
                        <div class="col-md-3">
                            <label for="">Email</label>
                        </div>
                        <div class="col-md-1">
                            <label for="">Batch</label>
                        </div>
                    </div>
                    <app-candidate-element *ngFor="let item of candidateList;let i=index" [candElement]="item" [slno]="i">
                    </app-candidate-element>
                </section>
            </div>

        </div>
    </div>
    <ng-template #candidate>
        <div class="main-content">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title" style="color:white">Gadgeon Recruitment 2018</h4>
                    <p class="card-title" style="color:white; font-size: 120%;color: silver">Candidate Detail</p>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="section">
                            <div class="gadgeon-content">
                                <br>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label for="">
                                            Name
                                        </label>
                                    </div>
                                    <div class="col-xs-6">
                                        <p for="Name">{{candidateDetail.name}}</p>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label for="">Email</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <p for="email">{{candidateDetail.email}}</p>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label for="">College</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <p for="College">{{candidateDetail.college}}</p>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label for="">Batch</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <p for="batch">{{candidateDetail.batch}}</p>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-4" data-toggle="collapse" href="#collapseExample" role="button"
                                        aria-expanded="false" aria-controls="collapseExample" (click)="rotate()">
                                        <label class="click-icon">Status <i class="material-icons middle-icon">{{expand}}</i></label>

                                    </div>
                                    <div class="col-xs-6">
                                        <p for="overallstatus">Pending</p>
                                        <br>
                                        <div class="row">
                                            <div class="collapse tab" id="collapseExample">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <label for="">Written Test</label>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <p for="status" [ngStyle]="{color: getColorW()}">{{candidateDetail.writingTestResult}}</p>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <label for="">Tehnical Round1</label>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <p for="status" [ngStyle]="{color: getColorT1()}">{{candidateDetail.technicalRound1Result}}</p>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <label for="">Tehnical Round2</label>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <p for="status" [ngStyle]="{color: getColorT2()}">{{candidateDetail.technicalRound2Result}}</p>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <label for="">HR Round</label>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <p for="status" [ngStyle]="{color: getColorH()}">{{candidateDetail.hrRound2Result}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label for="">Date</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <p for="batch">{{candidateDetail.registrationDate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>