<div *ngIf="!loginFlag" class="container">
    <section class="container gadlogin">
        <div class="row">
            <a href="https://www.gadgeon.com/"><img src="../../assets/img/logo-login.png" alt="" style="margin-left: 20%"
                    width="50%" height="50%"></a>

        </div>
        <div class="row" style="margin:2%">
            <form name="form" (ngSubmit)="login()" #f="ngForm">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
                        required style="color:#074D80!important;font-weight: 300!important;" />
                    <div class="help-block">Username is required</div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
                        required style="color:#074D80!important;font-weight: 300!important;" />
                    <div class="help-block">Password is required</div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-sm btn-instagram" (click)="login()" style="width:100%;text-transform: unset;">
                                Sign In
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-sm btn-instagram" (click)="Register()" style="width:100%;text-transform: unset;">
                                Register
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="IsInvalidUser" class="help-block">
                    <label for="" style="color:red">{{message}}</label>
                </div>
            </form>
        </div>
    </section>
</div>