<mat-card class="login-card">
    <img src="../../assets/img/logo-login.png" alt="" width="170" height="150" style="margin-left:23%">
    <mat-card-content flex>
            <div class="login-container" >
                <mat-form-field class="login-fields">
                  <input matInput placeholder="Email" [formControl]="email" #emailid required (keyup.enter)="login()" autofocus pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$">
                  <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                 </mat-form-field>
                 <mat-form-field class="login-fields">
                      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="password" minlength="8" #passwordfield required (keydown.enter)="login()">
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-error *ngIf="password.invalid ">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
            <mat-card-actions >
                    <button mat-raised-button class="btn-signin" style="margin-left:1%" (click)="login()">Login</button>
                    <div fxFlex style="margin:2%"></div>
                    <button mat-button class="btn-register" (click)="Register()">Register</button>
               </mat-card-actions>
            
            <div *ngIf="IsInvalidUser" class="help-block">
                <label for="" style="color:red">{{message}}</label>
            </div>
            <div fxFlex style="margin:5%"></div>

    </mat-card>